/* cards.css */

section {
    display: grid;
    grid-template-columns: var(--page-margin) [center-start] 1fr [center-end] var(--page-margin);
    
    & > * {
      grid-column: center;
    }
  }
  
  .cards-wrapper {
    grid-column: center-start / -1;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    overflow: auto;
    padding-right: var(--page-margin);
    padding: 40px 40px; /* Adjusted padding to remove space below cards */
  }
  
  
  .card {
    display: flex; /* Change to flex to align items */
    flex-direction: column; /* Align items vertically */
    justify-content: space-between; /* Space out items */
    background-color: #fafafa;
    color: #15928A;
    font-size: 1rem;
    height: 10rem; /* Increased card height */
    width: 20rem; /* Increased card width */
    padding: 0.5rem; /* Add padding to the card */
    border-radius: 8px; /* Add border radius for smoother edges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth effect */
    text-decoration: none; /* Remove default link decoration */
  }
  
  .card img {
    flex: 1; /* Expand image to fill available space */
    border-top-left-radius: 8px; /* Adjust border radius for top corners */
    border-top-right-radius: 8px; /* Adjust border radius for top corners */
    object-fit: cover; /* Maintain aspect ratio */
  }
  
  .card-content {
    padding: 1rem;
  }
  
  .card h2 {
    margin: 0.5rem 0; /* Adjust margin for heading */
  }
  
  .card-description {
    margin: 0.5rem 0; /* Adjust margin for description */
    font-weight: bold; /* Make description bold */
  }
  
  .card span {
    display: inline-block; /* Change display to inline-block */
    text-align: center; /* Center align "Visit" text */
    background-color: #007bff; /* Set background color */
    color: #fff; /* Set text color */
    border-radius: 3px; /* Add border radius */
    cursor: pointer; /* Change cursor on hover */
  }
  
  .card span:hover {
    background-color: #0056b3; /* Change background color on hover */
  }
